{% render 'product-assets' product_ref: section.settings.product, enable_zoom_gallery: section.settings.enable_zoom_gallery %}

{% if section.settings.overwrite_colors %}
  <style>
    .section--{{ section.id }} {
      --color: {{ section.settings.color }};
      --background: {{ section.settings.background }};
    }
  </style>
{% endif %}

<section data-aos="fade-zoom-in" class="section-featured-product section section--{{ section.id }}">
  {% render 'product' product: section.settings.product %}
</section><!-- /.section-featured-product -->

{% schema %}
{
  "name": "t:sections.featured-product.name",
  "settings": [
    {
      "type": "checkbox",
      "id": "overwrite_colors",
      "label": "t:sections.global.settings.overwrite_colors.label"
    },
    {
      "type": "color",
      "id": "color",
      "label": "t:sections.global.settings.colors.text",
      "default": "#000000"
    },
    {
      "type": "color",
      "id": "background",
      "label": "t:sections.global.settings.colors.background",
      "default": "#ffffff"
    },
    {
      "type": "product",
      "id": "product",
      "label": "t:sections.featured-product.settings.product.label"
    },
    {
      "type": "select",
      "id": "font_labels",
      "label": "t:sections.main-product.settings.font_labels.label",
      "info": "t:sections.main-product.settings.font_labels.info",
      "options": [
        {
          "value": "heading-font",
          "label": "t:sections.main-product.settings.font_labels.options.heading-font"
        },
        {
          "value": "body-font",
          "label": "t:sections.main-product.settings.font_labels.options.body-font"
        }
      ],
      "default": "body-font"
    },
    {
      "type": "header",
      "content": "t:sections.main-product.headers.media.content"
    },
    {
      "type": "checkbox",
      "id": "enable_zoom_gallery",
      "label": "t:sections.main-product.settings.enable_zoom_gallery.label",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "autoplay_first_video",
      "label": "t:sections.main-product.settings.autoplay_first_video.label"
    },
    {
      "type": "select",
      "id": "aspect_ratio_desktop",
      "label": "t:sections.global.settings.aspect_ratio_desktop.label",
      "options": [
        {
          "value": "media--original",
          "label": "t:sections.global.settings.aspect_ratio_desktop.options.original.label"
        },
        {
          "value": "media--1-2",
          "label": "t:sections.global.settings.aspect_ratio_desktop.options.1_2.label"
        },
        {
          "value": "media--2-3",
          "label": "t:sections.global.settings.aspect_ratio_desktop.options.2_3.label"
        },
        {
          "value": "media--3-4",
          "label": "t:sections.global.settings.aspect_ratio_desktop.options.3_4.label"
        },
        {
          "value": "media--1-1",
          "label": "t:sections.global.settings.aspect_ratio_desktop.options.1_1.label"
        },
        {
          "value": "media--4-3",
          "label": "t:sections.global.settings.aspect_ratio_desktop.options.4_3.label"
        },
        {
          "value": "media--3-2",
          "label": "t:sections.global.settings.aspect_ratio_desktop.options.3_2.label"
        },
        {
          "value": "media--16-9",
          "label": "t:sections.global.settings.aspect_ratio_desktop.options.16_9.label"
        }
      ],
      "default": "media--2-3"
    },
    {
      "type": "select",
      "id": "aspect_ratio_mobile",
      "label": "t:sections.global.settings.aspect_ratio_mobile.label",
      "options": [
        {
          "value": "media--mobile-original",
          "label": "t:sections.global.settings.aspect_ratio_desktop.options.original.label"
        },
        {
          "value": "media--mobile-1-2",
          "label": "t:sections.global.settings.aspect_ratio_desktop.options.1_2.label"
        },
        {
          "value": "media--mobile-2-3",
          "label": "t:sections.global.settings.aspect_ratio_desktop.options.2_3.label"
        },
        {
          "value": "media--mobile-3-4",
          "label": "t:sections.global.settings.aspect_ratio_desktop.options.3_4.label"
        },
        {
          "value": "media--mobile-1-1",
          "label": "t:sections.global.settings.aspect_ratio_desktop.options.1_1.label"
        },
        {
          "value": "media--mobile-4-3",
          "label": "t:sections.global.settings.aspect_ratio_desktop.options.4_3.label"
        },
        {
          "value": "media--mobile-3-2",
          "label": "t:sections.global.settings.aspect_ratio_desktop.options.3_2.label"
        },
        {
          "value": "media--mobile-16-9",
          "label": "t:sections.global.settings.aspect_ratio_desktop.options.16_9.label"
        }
      ],
      "default": "media--mobile-2-3"
    },
    {
      "type": "select",
      "id": "thumbs_position",
      "label": "t:sections.main-product.settings.thumbs_position.label",
      "options": [
        {
          "value": "left",
          "label": "t:sections.main-product.settings.thumbs_position.options.left"
        },
        {
          "value": "right",
          "label": "t:sections.main-product.settings.thumbs_position.options.right"
        },
        {
          "value": "bottom",
          "label": "t:sections.main-product.settings.thumbs_position.options.bottom"
        }
      ],
      "default": "bottom"
    },
    {
      "type": "checkbox",
      "id": "autoplay",
      "label": "t:sections.global.settings.autoplay.label",
      "default": false
    },
    {
      "type": "range",
      "id": "autoplay_interval",
      "min": 3,
      "max": 10,
      "step": 1,
      "unit": "t:sections.global.settings.autoplay_interval.unit",
      "label": "t:sections.global.settings.autoplay_interval.label",
      "default": 5
    }
  ],
  "blocks": [
    {
      "type": "badge",
      "name": "t:sections.main-product.blocks.badge.name",
      "limit": 1
    },
    {
      "type": "title",
      "name": "t:sections.main-product.blocks.heading.name",
      "limit": 1,
      "settings": [
        {
          "type": "select",
          "id": "heading_size",
          "label": "t:sections.main-product.blocks.heading.settings.heading_size.label",
          "options": [
            {
              "value": "h4",
              "label": "t:sections.main-product.blocks.heading.settings.heading_size.options.small"
            },
            {
              "value": "h3",
              "label": "t:sections.main-product.blocks.heading.settings.heading_size.options.medium"
            },
            {
              "value": "h1",
              "label": "t:sections.main-product.blocks.heading.settings.heading_size.options.large"
            }
          ],
          "default": "h3"
        }
      ]
    },
    {
      "type": "vendor",
      "name": "t:sections.main-product.blocks.vendor.name",
      "limit": 1
    },
    {
      "type": "price",
      "name": "t:sections.main-product.blocks.price.name",
      "limit": 1
    },
    {
      "type": "variant_picker",
      "name": "t:sections.main-product.blocks.variant_picker.name",
      "limit": 1
    },
    {
      "type": "quantity",
      "name": "t:sections.main-product.blocks.quantity.name",
      "limit": 1
    },
    {
      "type": "buy_buttons",
      "name": "t:sections.main-product.blocks.buy_buttons.name",
      "limit": 1,
      "settings": [
        {
          "type": "select",
          "id": "button_style",
          "label": "t:sections.global.settings.button_style.label",
          "options": [
            {
              "value": "button--style-1",
              "label": "t:sections.global.settings.button_style.options.style_one"
            },
            {
              "value": "button--style-2",
              "label": "t:sections.global.settings.button_style.options.style_two"
            },
            {
              "value": "button--style-3",
              "label": "t:sections.global.settings.button_style.options.style_three"
            },
            {
              "value": "button--style-4",
              "label": "t:sections.global.settings.button_style.options.style_four"
            }
          ],
          "default": "button--style-2"
        },
        {
          "type": "select",
          "id": "button_style_dynamic",
          "label": "t:sections.global.settings.section_headers.secondary_button",
          "options": [
            {
              "value": "button--style-1",
              "label": "t:sections.global.settings.button_style.options.style_one"
            },
            {
              "value": "button--style-2",
              "label": "t:sections.global.settings.button_style.options.style_two"
            },
            {
              "value": "button--style-3",
              "label": "t:sections.global.settings.button_style.options.style_three"
            },
            {
              "value": "button--style-4",
              "label": "t:sections.global.settings.button_style.options.style_four"
            }
          ],
          "default": "button--style-2"
        },
        {
          "type": "checkbox",
          "id": "checkout_buttons",
          "label": "t:sections.main-product.blocks.buy_buttons.settings.show_dynamic_checkout.label",
          "default": false,
          "info": "t:sections.main-product.blocks.buy_buttons.settings.show_dynamic_checkout.info"
        }
      ]
    },
    {
      "type": "product_details_button",
      "name": "t:sections.main-product.blocks.product_details_button.name",
      "limit": 1
    },
    {
      "type": "description",
      "name": "t:sections.main-product.blocks.description.name",
      "limit": 1
    },
    {
      "type": "collapsible_description",
      "name": "t:sections.main-product.blocks.collapsible_description.name",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "t:sections.main-product.blocks.collapsible_description.settings.title.label"
        },
        {
          "type": "richtext",
          "id": "description",
          "label": "t:sections.main-product.blocks.collapsible_description.settings.description.label"
        }
      ]
    },
    {
      "type": "purchase_options",
      "name": "t:sections.main-product.blocks.purchase-options.name",
      "limit": 1,
      "settings": [
        {
          "type": "paragraph",
          "content": "t:sections.main-product.blocks.purchase-options.settings.paragraph_info.content"
        },
        {
          "type": "text",
          "id": "title",
          "label": "t:sections.main-product.blocks.purchase-options.settings.title.label",
          "default": "Purchase Options"
        }
      ]
    },
    {
      "type": "pickup_availability",
      "name": "t:sections.main-product.blocks.pickup_availability.name",
      "limit": 1
    },
    {
      "type": "stock_notification",
      "name": "t:sections.main-product.blocks.stock-notification.name",
      "limit": 1,
      "settings": [
        {
          "type": "range",
          "id": "threshold",
          "min": 1,
          "max": 50,
          "step": 1,
          "label": "t:sections.main-product.blocks.stock-notification.settings.threshold.label",
          "info": "t:sections.main-product.blocks.stock-notification.settings.threshold.info",
          "default": 15
        }
      ]
    },
    {
      "type": "shop_pay_installments",
      "name": "t:sections.main-product.blocks.shop_pay_installments.name",
      "limit": 1
    },
    {
      "type": "custom_liquid",
      "name": "t:sections.custom-liquid.name",
      "settings": [
        {
          "type": "liquid",
          "id": "custom_liquid",
          "label": "t:sections.custom-liquid.settings.custom_liquid.label",
          "info": "t:sections.custom-liquid.settings.custom_liquid.info"
        }
      ]
    },
    {
      "type": "@app"
    }
  ],
  "presets": [
    {
      "name": "t:sections.featured-product.name",
      "blocks": [
        {
          "type": "title"
        },
        {
          "type": "price"
        },
        {
          "type": "variant_picker"
        },
        {
          "type": "pickup_availability"
        },
        {
          "type": "buy_buttons"
        },
        {
          "type": "description"
        },
        {
          "type": "product_details_button"
        }
      ]
    }
  ],
  "disabled_on": {
    "groups": [
      "*"
    ]
  }
}
{% endschema %}
