{%- if section.settings.heading != blank or section.settings.paragraph != blank -%}
  <div class="main-password center">
    {%- if section.settings.heading != blank -%}
      <h2 class="main-password__heading {{ section.settings.heading_size }}">{{- section.settings.heading | escape | newline_to_br -}}</h2><!-- /.h2 -->
    {%- endif -%}

    <div class="main-password__entry rte">
      {{- section.settings.paragraph | default: shop.password_message -}}
    </div><!-- /.rte -->
  </div><!-- /.main-password__content -->
{%- endif -%}

{% schema %}
{
  "name": "t:sections.main-password.name",
  "tag": "section",
  "settings": [
    {
      "type": "textarea",
      "id": "heading",
      "label": "t:sections.global.settings.heading.label",
      "default": "Opening Soon"
    },
    {
      "type": "select",
      "id": "heading_size",
      "label": "t:sections.global.settings.heading_size.label",
      "options": [
        {
          "value": "h3",
          "label": "t:sections.global.settings.heading_size.options.small"
        },
        {
          "value": "h2",
          "label": "t:sections.global.settings.heading_size.options.medium"
        },
        {
          "value": "h1",
          "label": "t:sections.global.settings.heading_size.options.large"
        }
      ],
      "default": "h2"
    },
    {
      "type": "richtext",
      "id": "paragraph",
      "label": "t:sections.global.settings.description.label"
    }
  ]
}
{% endschema %}
