<footer class="footer-password center">
  {% capture shopify %}
    <a class="link" href="//www.shopify.com" target="_blank" title="Create your own online store with Shopify">
      Shopify
    </a>
  {% endcapture %}

  <p class="caption">
    {{- 'password.powered_by_shopify_html' | t: shopify: shopify -}}
  </p><!-- /.caption -->

  <p class="caption">
    {{- 'password.admin_link_html' | t -}}
  </p><!-- /.caption -->
</footer><!-- /.footer-password -->
