<section class="container container--narrow rte">
  <h1 class="h1 center">{{- page.title | escape -}}</h1><!-- /.h1 center -->

  {{- page.content -}}
</section><!-- /.container container--narrow rte -->
