.card-article__media {
  border-radius: var(--border-radius);
}

.card-article__body {
  padding-top: 1rem;
}

.card-article__meta {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.8rem
}

.card-article__meta {
  font-size: 1.4rem;
}

.card-article__tags {
  column-gap: 0.3rem;
}

.card-article__title {
  margin: 0.1rem 0 0.7rem;
}

.card-article__title:hover {
  opacity: 0.8;
}

.card-article__tag a:hover {
  opacity: 0.8;
}

.card-article__author {
  display: flex;
  align-items: center;
  gap: 0 0.8rem;
}

.card-article__author img {
  width: 2.4rem;
  height: 2.4rem;
}

.card-article__entry {
  margin-bottom: 1.6rem;
}

.card-article__actions {
  text-transform: uppercase;
  margin-top: 2.4rem;
}

.card-article__actions a {
  font-size: 1.4rem;
  font-weight: 500;
  text-decoration: underline;
}

.card-article__actions a:hover {
  text-decoration: none
}
