cart-drawer {
  visibility: hidden;
}

cart-drawer.is-visible {
  visibility: visible;
}

.cart-drawer__overlay {
  background-color: rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-modals);
}

.cart-drawer__inner {
  display: flex;
  flex-direction: column;
  width: 46.8rem;
  min-height: var(--viewport-height, 100vh);
  height: 100vh;
  height: 100svh;
  max-width: 90%;
  position: fixed;
  right: 0;
  top: 0;
  background-color: var(--color-cart-background, var(--color-base-background));
  color: var(--color-cart);
  z-index: var(--z-modals);
  transform: translateX(100%);
  transition: transform var(--duration-default);
}

@media screen and (max-width: 480px) {
  .cart-drawer__inner {
    max-width: 100%;
  }
}

.cart-drawer__head {
  padding: 2rem 4rem 0.7rem;
}

@media (max-width: 767px) {
  .cart-drawer__head {
    padding: 2rem;
  }
}

.cart-drawer__head::after {
  content: '';
  display: block;
  width: 100%;
  height: 1px;
  background-color: var(--color-form-input-border-light);
  margin: 1.3rem 0;
}

.cart-drawer__head-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cart-drawer__head-count-message {
  font-size: 1.4rem;
  opacity: 0.6;
}

.cart-drawer__close {
  width: 4.4rem;
  height: 4.4rem;
  align-items: center;
  justify-content: center;
  margin: -2.2rem -1.3rem -2.2rem 0;
  display: inline-flex;
  background: none;
  padding: 0;
  border: none;
  border-radius: 0;
  cursor: pointer;
}

.cart-drawer__close {
  color: currentColor;
}

.cart-drawer__close svg {
  width: 1.5rem;
  height: 1.5rem;
}

.cart-drawer__title {
  font-family: var(--font-cart);
  font-size: 1.8rem;
  margin: 0;
  color: currentColor;
}

.cart-drawer__body {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 0 4rem;
}

@media (max-width: 767px) {
  .cart-drawer__body {
    padding: 0 2rem;
  }
}

.cart-drawer__empty {
  text-align: center;
  margin: 4rem 0;
}

.cart-drawer__empty p {
  font-size: 2rem;
  font-weight: 300;
}

.drawer__empty-link {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  transition: all 0.2s;
}

.drawer__empty-link:hover {
  opacity: 0.7;
}

table.cart-drawer__items,
table.cart-drawer__items tbody,
table.cart-drawer__items td {
  font-size: 1.4rem;
  display: block;
}

.cart-drawer__items .cart-item__media img {
  visibility: unset;
  transition: none;
}

.cart-drawer__items {
  padding-top: 1.7rem;
}

.cart-drawer__items h3 {
  font-size: 1.6rem;
}

.cart-item--drawer .cart-item__details {
  display: flex;
  flex-direction: column;
}

.cart-item--drawer dl {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.cart-item--drawer dl > *:nth-child(1) {
  width: 50%;
}

.cart-item--drawer dl > *:nth-child(n + 3) {
  width: 100%;
  flex: 1 1 100%;
}

.cart-item__details-gift_card dl {
  display: block;
}

.cart-item__details-gift_card dl > *:nth-child(1) {
  width: 100%;
}

.cart-item--drawer .cart-item__details-content {
  margin-top: auto;
}

.cart-drawer__summary {
  position: relative;
  padding: 2rem 4rem;
}

@media (max-width: 767px) {
  .cart-drawer__summary {
    padding: 2rem;
  }
}

.cart-drawer__summary::before {
  content: '';
  display: block;
  width: 100%;
  height: 0.1rem;
  background-color: var(--color-form-input-border-light);
  transform: translateY(-2rem);
}

.cart-drawer__summary::after {
  content: '';
  position: absolute;
  bottom: 99%;
  left: 0;
  right: 0;
  width: 100%;
  height: 4rem;
  background: linear-gradient(180deg,rgba(255, 255, 255, 0), 50%, var(--color-cart-background, var(--color-base-background)));
  pointer-events: none;
  z-index: 8;
}

.cart-drawer__summary .cart-summary__total p {
  font-size: 1.6rem;
  font-weight: 500;
  display: flex;
  justify-content: space-between;
  margin: 0 0 1.6rem;
}

.cart-drawer__summary .cart-summary__actions a,
.cart-drawer__summary .cart-summary__actions button {
  height: 5.4rem;
}

.cart-drawer__summary .cart-summary__actions a:hover,
.cart-drawer__summary .cart-summary__actions button:hover {
  border: 0.1rem solid currentColor;
}

.cart-item--drawer .cart-summary__actions {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

@media (max-width: 767px) {
  .cart-item--drawer .cart-summary__actions {
    margin-top: 2rem;
  }
}

@media (max-width: 480px) {
  .cart-item--drawer .cart-summary__actions a,
  .cart-item--drawer .cart-summary__actions button {
    min-width: 13rem;
    width: 100%;
  }
}

cart-drawer-items {
  display: block;
}

.cart-drawer cart-remove-button {
  display: inline-block;
  vertical-align: middle;
}

.is-visible .cart-drawer__overlay {
  display: block;
}

.is-visible .cart-drawer__inner {
  transform: translateX(0);
}

.cart-item--drawer .cart-summary__button {
  width: 100%;
}

.cart-drawer-upsell__head h4 {
  font-family: var(--font-cart);
  color: currentColor;
}

@media (max-width: 767px) {
  .cart-drawer-upsell__head h4 {
    margin: 1rem 0;
  }
}
