#recover {
  display: none;
}

#recover:target {
  display: block;
}

#recover:target ~ #login {
  display: none;
}

.form-customer {
  scroll-margin-top: var(--header-height, 100rem);
  padding: 2rem 0;
}

@media (max-width: 767px) {
  .form-customer {
    padding: 6rem 0;
  }
}

.form-customer .form__body {
  max-width: 50rem;
  margin: 0 auto;
}

.form-customer .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 60vh;
}

.form-customer .form__inner {
  background-color: var(--color-base-background);
  max-width: 67.4rem;
  width: 100%;
  padding: 6rem 10rem;
  border-radius: var(--border-radius);
}

@media (max-width: 767px) {
  .form-customer .form__inner {
    padding: 3.2rem;
  }
}

.form-customer .form__inner--left {
  margin-right: auto;
}

.form-customer .form__inner--center {
  margin: 0 auto;
}

.form-customer .form__inner--right {
  margin-left: auto;
}

.form-customer .form__title {
  margin: 0 0 2rem;
}
