.filter-wrapper .filter__head {
  margin-bottom: 2rem;
  display: flex;
  align-items: flex-start;
}

.filter-wrapper .filter__head li {
  position: relative;
}

.filter-wrapper .filter__head .filter__active-items {
  flex: 1;
}

.filter-wrapper .filter__head li+li {
  margin-left: 4rem;
}

.filter-wrapper .filter__head li+li:before {
  content: '. . . . .';
  line-height: 1;
  position: absolute;
  top: 50%;
  left: -1.9rem;
  transform: translateY(-50%) scale(0.5) rotate(90deg);
  white-space: nowrap;
  color: inherit;
  width: 0.1rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 767px) {
  .filter-wrapper .filter__active-items {
    display: none;
  }
}

.filter-wrapper .filter__head .select-sort__wrapper select {
  font-family: inherit;
  font-size: 1.4rem;
  border: none;
  appearance: none;
  border-radius: 0;
  border: none;
  padding: 0 1.5rem;
  margin-left: -1.5rem;
}

.filter-wrapper .filter__head .select-sort__wrapper svg {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
}

.filter-wrapper .filter__head .select-sort__wrapper select:focus+svg {
  transform: translateY(-50%) rotate(180deg);
}

.filter-wrapper .filter__toggle {
  font-size: 1.4rem;
  text-decoration: none;
  user-select: none;
}

filters-component[open] .filter__toggle-icon {
  transform: rotate(180deg);
}

.filter-wrapper .filter__toggle-icon {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  height: 2.4rem;
}

.filter-wrapper .filter__toggle-icon::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(0 0 0 / 10%);
  width: 2.4rem;
  height: 2.4rem;
  border-radius: 50%;
  z-index: -1;
  opacity: 0;
  transition: opacity 0.2s;
}

.filter-wrapper .filter__toggle:hover .filter__toggle-icon::after {
  opacity: 1;
}

.filter-wrapper .filter__mobile-head {
  display: none;
}

@media (max-width: 767px) {
  .filter-wrapper .filter__mobile-head {
    display: block;
    width: 100%;
  }

  .filter-wrapper .filter__mobile-head::after {
    content: '';
    display: block;
    width: 100%;
    height: 0.1rem;
    background-color: currentColor;
    opacity: 0.1;
  }

  .filter-wrapper button.filter__toggle--mobile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 1.6rem;
    height: 5.5rem;
  }

  .filter-wrapper .filter__toggle--mobile .filter__toggle-icon {
    display: flex;
    align-items: center;
    height: auto;
    transform: none;
  }

  .filter-wrapper .filter__toggle--mobile .filter__toggle-icon::after {
    display: none;
  }
}

.filter-wrapper .filter__active,
.filter__active--clear {
  display: inline-block;
  font-size: 1.4rem;
  color: inherit;
  margin-right: 2.4rem;
}

.filter-wrapper .filter__active-icon-close {
  line-height: 1;
  vertical-align: middle;
  margin-left: 0.3rem;
}

.filter__active strong {
  font-weight: 400;
}

.filter__price-slider {
  flex: 0 0 100%;
  position: relative;
  margin: 1.5rem 0rem;
}

.filter__price-slider input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  pointer-events: all;
  width: 2rem;
  height: 2rem;
  background: radial-gradient(circle,
      var(--color-base) 0%,
      var(--color-base) 24%,
      var(--color-base-background) 24%,
      var(--color-base-background) 100%);
  border: 0.2rem solid var(--color-base);
  border-radius: 50%;
  cursor: pointer;
}

.filter__price-slider input[type='range']::-moz-range-thumb {
  -webkit-appearance: none;
  pointer-events: all;
  width: 2rem;
  height: 2rem;
  background: radial-gradient(circle,
      var(--color-base) 0%,
      var(--color-base) 24%,
      var(--color-base-background) 24%,
      var(--color-base-background) 100%);
  border-radius: 50%;
  border: 0.2rem solid var(--color-base);
  cursor: pointer;
}

.filter__price-slider input[type='range'] {
  appearance: none;
  height: 0.2rem;
  width: 100%;
  position: absolute;
  background-color: var(--color-base);
  pointer-events: none;
  border-radius: 0.2rem;
}

.filter__price-slider input[type='range']:first-of-type {
  height: 0;
  z-index: 1;
}

.filter-wrapper .filter__body {
  overflow: auto;
}

@media (min-width: 768px) {
  .filter-wrapper .filter__inner--vertical .filter__body {
    display: grid;
    grid-template-columns: 0fr;
    grid-template-rows: 0fr;
    transition: grid-template-columns 100ms, opacity 0ms;
    opacity: 0;
  }

  .filter-wrapper .filter__inner--horizontal .filter__body {
    display: grid;
    grid-template-rows: 0fr;
  }
}

@media (min-width: 768px) {
  filters-component[open] .filter__inner--vertical .filter__body {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    transition: grid-template-columns 0ms, opacity 100ms;
    opacity: 1;
    width: 37.4rem;
  }

  filters-component[open] .filter__inner--horizontal .filter__body {
    grid-template-rows: 1fr;
  }
}

filters-component:not([open]) .filter__body input {
  visibility: hidden;
}

@media (max-width: 767px) {
  .filter-wrapper .filter__body {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 999;
    background: var(--color-base-background);
    width: 100%;
    padding-bottom: 1rem;
    -webkit-overflow-scrolling: touch;
    opacity: 0;
    pointer-events: none;
  }

  filters-component[open] .filter__body {
    opacity: 1;
    pointer-events: auto;
  }
}

.filter__form {
  overflow: hidden;
}

@media (max-width: 767px) {
  .filter__form {
    height: calc(100% - 5.6rem);
    display: flex;
    flex-direction: column;
    padding-bottom: 2rem;
  }
}

.filter-wrapper .filter__list {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem 0;
  transition: all 0.1s;
  padding: 2rem 0 4rem 0;
}

@media (max-width: 767px) {
  .filter-wrapper .filter__list {
    padding: 2.7rem 3.2rem;
    overflow: auto;
  }
}

.filter-wrapper .filter__inner--vertical .filter__list li {
  width: auto;
  flex: 1;
}

@media (min-width: 768px) {
  .filter-wrapper .filter__inner--vertical .filter__list {
    margin-right: 3.2rem;
  }
}

@media (max-width: 767px) {
  .filter-wrapper .filter__list {
    display: block;
  }
}

.filter-wrapper .filter__list li {
  flex: 1 0 calc(20% - 3.7rem);
  padding: 0 3.7rem;
  position: relative;
}

@media (max-width: 1200px) {
  .filter-wrapper .filter__list li {
    flex: 1 0 calc(20% - 1.7rem);
    padding: 0 1.7rem;
  }
}

@media (max-width: 1023px) {
  .filter-wrapper .filter__list li {
    flex: 1 0 calc(33.333% - 1.7rem);
  }
}

@media (max-width: 767px) {
  .filter-wrapper .filter__list li:nth-child(1) {
    padding-right: 0;
  }
}

.filter-wrapper .filter__list li+li:before {
  content: '';
  position: absolute;
  left: 0;
  display: inline-block;
  width: 0.1rem;
  height: 100%;
  background-color: currentColor;
  opacity: 0.1;
}

@media (max-width: 767px) {
  .filter-wrapper .filter__list li+li:before {
    height: 0.1rem;
    width: 100%;
    top: 0;
  }
}

@media (max-width: 767px) {
  .filter-wrapper .filter__list li+li {
    padding: 2.7rem 0 0 0;
    margin-top: 2.7rem;
  }
}

@media (min-width: 1024px) {
  .filter-wrapper .filter__list li:nth-child(5n + 1) {
    padding-left: 0;
  }

  .filter-wrapper .filter__list li:nth-child(5n + 1)::before {
    background-color: transparent;
  }
}

@media (max-width: 1023px) {
  .filter-wrapper .filter__list li:nth-child(3n + 1) {
    padding-left: 0;
  }

  .filter-wrapper .filter__list li:nth-child(3n + 1)::before {
    background-color: transparent;
  }
}

@media (max-width: 767px) {
  .filter-wrapper .filter__list li:nth-child(3n + 1)::before {
    background-color: currentColor;
  }
}

.filter-wrapper .filter__group {
  font-size: 1.4rem;
  word-break: break-all;
}

.filter__inner--vertical .filter__group {
  padding: 0 0.5rem;
}

.filter-wrapper .filter__and-text {
  font-size: 1.2rem;
  display: block;
  opacity: 0.5;
}

.filter-wrapper .filter__group h6 {
  font-weight: 400;
  margin: 0;
}

@media (max-width: 767px) {
  .filter-wrapper .filter__group h6 {
    font-size: 1.8rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    user-select: none;
  }
}

.filter-wrapper .filter__group h6 .filter__group-icon-arrow {
  display: none;
}

@media (max-width: 767px) {
  .filter-wrapper .filter__group h6 .filter__group-icon-arrow {
    display: inline-block;
  }

  .filter-wrapper .filter__group h6[close]+.filter__options {
    display: none;
  }

  .filter-wrapper .filter__group h6[close] .filter__group-icon-arrow {
    transform: rotate(180deg);
  }
}

.filter-wrapper .filter__options {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-top: 3.3rem;
}

@media (max-width: 767px) {
  .filter-wrapper .filter__options {
    margin-top: 1.6rem;
  }
}

.filter-wrapper .filter__option {
  display: inline-flex;
  align-items: center;
  gap: 0 0.2rem;
  cursor: pointer;
}

.filter-wrapper .filter__option>* {
  cursor: pointer;
}

.filter-wrapper .filter__option-image {
  aspect-ratio: 1 / 1;
  width: 9.3rem;
  height: 9.3rem;
}

.filter-wrapper .filter__option-image img {
  width: 100%;
  height: 100%;
  object-position: left;
  object-fit: contain;
}

.filter-wrapper .filter__options input {
  accent-color: var(--color, var(--color-base));
}

.filter-wrapper .filter__price-range {
  display: flex;
  gap: 2rem 1rem;
}

.filter-wrapper .filter__price-range-controls {
  position: relative;
  display: flex;
  align-items: center;
  width: 50%;
  outline: 1px solid var(--color-form-input-border-light);
  border-radius: var(--border-radius);
}

.filter-wrapper .filter__price-range-controls>span {
  display: inline-block;
  line-height: 1;
  white-space: nowrap;
  padding-left: 0.4rem;
}

.filter-wrapper .filter__price-range input {
  border-radius: 0;
  width: 60%;
  flex: 1;
  height: 3.6rem;
  line-height: 1;
  border: none;
  background-color: var(--color-base-background);
  color: var(--color-base);
  appearance: none;
  -moz-appearance: textfield;
}

.filter-wrapper .filter__price-range input[type="number"]::-webkit-outer-spin-button,
.filter-wrapper .filter__price-range input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.filter-wrapper .filter__price-range input:focus-visible {
  outline: none;
}

.filter-wrapper .filter__inner--vertical {
  display: flex;
}

@media (max-width: 767px) {
  .filter-wrapper .filter__inner--vertical {
    display: block;
  }
}

@media (max-width: 767px) {
  .filter-wrapper .filter__inner--vertical .filter__body {
    width: 100%;
  }
}

.filter-wrapper .filter__inner--vertical .filter__list {
  display: block;
}

.filter-wrapper .filter__inner--vertical .filter__list li:nth-child(1) {
  padding-right: 0;
}

.filter-wrapper .filter__inner--vertical .filter__list li+li {
  padding: 3.7rem 0 0 0;
  margin-top: 3.7rem;
}

.filter-wrapper .filter__inner--vertical .filter__list li+li::before {
  top: 0;
  width: 100%;
  height: 0.1rem;
  background-color: currentColor;
}

.filter-wrapper .filter__inner--vertical .filter__group h6 {
  font-family: var(--filter-labels-font);
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  user-select: none;
}

.filter-wrapper .filter__inner--vertical .filter__group h6 .filter__group-icon-arrow {
  display: inline-block;
}

.filter-wrapper .filter__inner--vertical .filter__group h6[close] ~ .filter__options,
.filter-wrapper .filter__inner--vertical .filter__group h6[close] ~ .filter__and-text {
  display: none;
}

.filter-wrapper .filter__inner--vertical .filter__group h6[close] .filter__group-icon-arrow {
  transform: rotate(180deg);
}

.filter-wrapper .filter__mobile-actions {
  display: none;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.8rem;
  padding: 0 1.6rem;
}

@media (max-width: 767px) {
  .filter-wrapper .filter__mobile-actions {
    display: flex;
  }
}

.filter-wrapper .filter__mobile-actions button {
  flex: 1 0 calc(50% - 0.8rem);
  min-width: auto;
}

.filter-wrapper .filter__mobile-actions button:hover {
  border: 0.1rem solid currentColor;
}

filters-component[open] .filter__inner--horizontal .filter__body {
  flex: 1;
}

@media (max-width: 1440px) {
  filters-component[open] .filter-wrapper .filter__inner--vertical .collection__grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 1023px) {
  filters-component[open] .filter-wrapper .filter__inner--vertical .collection__grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 767px) {
  filters-component[open] .filter-wrapper .filter__inner--vertical .collection__grid {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (max-width: 1023px) {
  .filter-wrapper .collection__grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 767px) {
  .filter-wrapper .grid--mobile-2 {
    grid-template-columns: repeat(2, 1fr);
  }

  .filter-wrapper .grid--mobile-1 {
    grid-template-columns: 1fr;
  }
}
