@media (min-width: 768px) {
  .featured-collection .featured__list {
    flex-wrap: wrap;
    gap: 3.2rem 0;
    margin: 0 -1.6rem;
  }

  .featured-collection .featured__list li {
    flex: none;
    padding: 0 1.6rem;
  }

  .featured-collection .featured__list--row-2 li {
    width: 50%;
  }

  .featured-collection .featured__list--row-3 li {
    width: 33.333%;
  }
}

@media (max-width: 767px) {
  .featured-collection .featured__list {
    display: block;
  }

  .featured-collection .featured__list li + li {
    margin-top: 2.5rem;
  }
}

.featured__actions {
  margin-top: 2rem;
}

.featured__actions--center {
  text-align: center;
}

.featured__actions--right {
  text-align: right;
}
