.marquee {
  font-family: var(--font);
  font-size: var(--font-size-desktop);
  line-height: 1.4;
  color: var(--color);
  background: var(--background);
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  display: flex;
}

@media (max-width: 767px) {
  .marquee {
    font-size: var(--font-size-mobile);
  }
}

.marquee--spacing-small {
  padding: 2rem 0;
}

.marquee--spacing-medium {
  padding: 4rem 0;
}

.marquee--spacing-large {
  padding: 8rem 0;
}

.marquee__inner {
  display: flex;
  align-items: center;
  gap: 0 5rem;
  will-change: transform;
  animation: marquee 0s linear 0s infinite normal;
  animation-play-state: running;
}

@media (max-width: 767px) {
  .marquee__inner {
    gap: 0 3rem;
  }
}

.marquee--speed-slow .marquee__inner {
  animation-duration: 800s;
}

.marquee--speed-medium .marquee__inner {
  animation-duration: 400s;
}

.marquee--speed-fast .marquee__inner {
  animation-duration: 200s;
}

.marquee--pause-hover:hover .marquee__inner {
  animation-play-state: paused;
}

.marquee__content {
  display: inline-flex;
  align-items: center;
  gap: 0 1rem;
  min-width: fit-content;
  color: var(--color);
}

.marquee__content a {
  color: inherit;
  display: inline-flex;
  align-items: center;
  gap: 0 1rem;
  text-decoration: none;
}

.marquee__content a:hover {
  opacity: 0.7;
}

.marquee__content img {
  width: 4rem;
  height: 4rem;
  object-fit: cover;
}

@keyframes marquee {
  0% { transform: translateX(0); }
  100% { transform: translateX(-100%); }
}
