.header-password {
  padding: 1.6rem 0;
}

.header-password__logo,
.header-password__title {
  width: var(--logo-width);
  max-width: var(--logo-width);
  margin: 1rem 0;
}

@media (max-width: 767px) {
  .header-password__logo,
  .header-password__title {
    width: var(--logo-width-mobile);
    max-width: var(--logo-width);
  }
}
