.section-media {
  padding: 8rem 0;
  background-color: var(--background);
}

@media (max-width: 767px) {
  .section-media {
    padding: 4rem 0;
  }
}

.section-media .section__media img,
.section-media .section__media svg,
.section-media .section__media video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: var(--border-radius);
}

.section-media .section__media-button-play {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  pointer-events: none;
  width: 8.8rem;
  height: 8.8rem;
}

.section-media .section__media-button-play svg {
  fill: var(--color-base-background);
}

.section-media .section__media-button-play::after {
  content: '';
  position: absolute;
  inset: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-color: var(--color-base-background);
  opacity: 0.2;
  border-radius: 50%;
}
