.section-brands {
  padding: 8rem 0;
  color: var(--color, inherit);
  background-color: var(--background, transparent);
  overflow: hidden;
}

@media (max-width: 767px) {
  .section-brands {
    padding: 3rem 0;
  }
}

@media (max-width: 1023px) {
  .section-brands__container {
    padding: 0;
  }
}

.section-brands .section__head {
  text-align: center;
  margin-bottom: 2.5rem;
}

.section-brands .section__title {
  margin: 0;
}

.section-brands .section__list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem 0;
}

@media (max-width: 1023px) {
  .section-brands .section__list {
    position: relative;
    flex-wrap: nowrap;
    overflow-x: scroll;
    justify-content: flex-start;
    padding-bottom: 1.6rem;
    padding-left: 1.6rem;
  }

  .section-brands .section__inner {
    position: relative;
  }

  .section-brands .section__inner::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 6rem;
    height: calc(100% - 2rem);
    background: linear-gradient(90deg,rgba(255, 255, 255, 0), 1%, var(--background));
    pointer-events: none;
  }
}

.section-brands .section__list li {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 7.2rem;
  padding: 0 2rem;
  width: 20%;
}

@media (max-width: 1023px) {
  .section-brands .section__list li {
    width: 100%;
    padding: 0;
  }

  .section-brands .section__list li:last-child {
    position: relative;
    z-index: 1;
  }

  .section-brands .section__list li + li {
    margin-left: 4rem;
  }
}

.section-brands .section__list a:hover img,
.section-brands .section__list a:hover svg  {
  transform: scale(1.1);
  transition: transform 0.2s;
}

.section-brands .section__list svg,
.section-brands .section__list img {
  max-height: 7.2rem;
  object-fit: contain;
}

.section-brands .section__list svg,
.section-brands .section__list img {
  min-width: 10rem;
}
