.product {
  position: relative;
  padding: 2rem 0 6.4rem;
}

@media (max-width: 1023px) {
  .product {
    padding-bottom: 0;
  }
}

.product__breadcrumbs {
  margin-bottom: 2rem;
}

.product__breadcrumbs ul {
  font-size: 1.4rem;
  display: flex;
  flex-wrap: wrap;
  gap: 0 1rem;
}

.product .grid {
  display: flex;
}

@media (max-width: 1023px) {
  .product .grid {
    flex-direction: column;
  }
}

.product .grid__item {
  width: 50%;
}

@media (max-width: 1023px) {
  .product .grid__item {
    width: 100%;
  }
}

.product-media {
  display: block;
}

product-media {
  display: block;
}

.product__media--row {
  display: flex;
  gap: 3.2rem;
}

@media (max-width: 1400px) {
  .product__media--row {
    gap: 1rem
  }
}

@media (max-width: 1023px) {
  .product__media--row {
    display: block;
    padding-top: 0;
  }
}

.product .product__media-slider .swiper-wrapper {
  font-size: 0;
}

.product__media--row .product__media-slider {
  flex: 1;
  border-radius: var(--border-radius);
}

.product .product__media-slider-arrows {
  display: none;
}

@media (max-width: 1023px) {
  .product .product__media-slider-arrows {
    display: flex;
    top: calc(50% - 2.4rem);
  }
}

.product .product__media-slider-arrows button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  color: currentColor;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  padding: 0;
}

.product .product__media-slider-arrows button:before {
  content: '';
  background-color: var(--color-base-background);
  width: 4rem;
  height: 4rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: -1;
  border-radius: var(--border-radius);
  opacity: 0.2;
}

.product .product__media-slider-arrows button.swiper-arrow--prev:before  {
  left: 57%;
}

.product .product__media-slider-arrows button.swiper-arrow--next:before  {
  left: 47%;
}

@media (max-width: 1023px) {
  .product .product__media-slider-arrows button {
    width: 2rem;
    height: 2rem;
  }
}

.product .product__media-slider-arrows button svg {
  width: 1rem;
  height: 1rem;
}

@media (max-width: 1023px) {
  .product .product__media-slider-arrows button svg {
    width: 1.8rem;
    height: 1.8rem;
  }
}

.product .product__media-slider .swiper-pagination {
  width: 100%;
  padding: 0 1.6rem;
  margin: 2rem auto 0;
  display: none;
  transform: none;
}

@media (max-width: 1023px) {
  .product .product__media-slider .swiper-pagination {
    display: block;
    padding: 1rem 0rem;
  }

  .product .product__media-slider .swiper-pagination-bullet-active-main {
    opacity: 1;
  }

  .product .swiper-pagination-bullet:after {
    display: none;
  }

  .product .swiper-pagination-bullet svg {
    display: block;
  }
}

.product__media--row .product__media-thumbs {
  flex: 1;
  max-width: 22%;
}

@media (max-width: 1023px) {
  .product .product__media-thumbs {
    max-width: 100%;
    margin-top: 1rem;
    display: none;
  }
}

.product__media--left .product__media-thumbs {
  order: -1;
}

.product .product__media-thumbs-arrows {
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 1rem;
}

.product .product__media-thumbs-arrows--horizontal {
  flex-direction: row;
}

.product .product__media-thumbs-arrows button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 4rem;
  height: 4rem;
  padding: 0;
  margin: 0;
  background-color: var(--color-base);
  color: var(--color-base-background);
}

.product .product__media-thumbs-arrows--horizontal .product__thumbs-arrow-prev svg {
  transform: rotate(-90deg);
}

.product .product__media-thumbs-arrows--horizontal .product__thumbs-arrow-next svg {
  transform: rotate(-90deg);
}

.product .product__media-thumbs-arrows button[disabled] {
  opacity: 0;
}

.product .product__image {
  width: 100%;
}

.product .media,
.product img {
  border-radius: var(--border-radius);
}

.product__image-placeholder svg {
  background: var(--color-form-input-border-light);
  border-radius: var(--border-radius);
}

.product__xr-button {
  position: absolute;
  top: unset;
  bottom: 0.5rem;
  width: auto;
  left: 50%;
  transform: translateX(-50%);
  height: 3rem;
}

.product__thumbnail {
  cursor: pointer;
  position: relative;
  height: 100%;
}

.product__media:not(.product__media--bottom):not(.product__media--original-desktop) .product__thumbnail .media:not(.media--1-1) {
  padding-bottom: 0;
  height: 100%;
}

.product__media:not(.product__media--bottom) .product__thumbnail .media--original {
  height: auto;
}

.product__media--original-desktop:not(.product__media--bottom) .product__media-thumbs {
  height: 41rem;
}

.product__media--original-desktop:not(.product__media--bottom) .product__media-thumbs .swiper-wrapper {
  height: auto !important;
}

.product__media--original-desktop .product__thumbnail .media--original {
  padding-bottom: 130px;
  border-radius: 0;
}

.product__media--original-desktop .product__thumbnail .media--original img {
  object-fit: contain;
  border-radius: 0;
}

.product__media--original-desktop .product__media-thumbs .swiper-slide {
  height: auto !important;
}

.product__thumbnail .product__thumbnail-video-play-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.product__media--bottom .product__media-slider {
  margin-bottom: 1rem;
}

.product__media-thumbs .swiper-slide-thumb-active {
  opacity: 0.6;
}

@media (min-width: 1024px) {
  .product product-media[data-layout="grid"] .product__media-thumbs {
    display: none;
  }

  .product product-media[data-layout="grid"] .swiper-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    height: 100% !important;
    transform: none !important;
  }

  .product product-media[data-layout="grid"].product__media--single .swiper-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
  }

  .product product-media[data-layout="grid"] .swiper-slide {
    width: auto !important;
    margin: 0 !important;
  }
}

.product .product__content {
  max-width: 68.5rem;
}

@media (max-width: 1023px) {
  .product .product__content {
    padding: 0 1.6rem 3rem;
    max-width: 100%;
  }
}

.product .product__content--sticky {
  position: sticky;
  top: 9rem;
}

.product__app-block {
  margin: 1.6rem 0;
}

.product__badge-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 1.5rem;
  gap: 0.5rem;
}

.product .product__title {
  font-weight: 500;
  line-height: 1;
  margin: 0 0 2.9rem;
}

@media (max-width: 1023px) {
  .product .product__title {
    margin-bottom: 2rem;
  }
}

.product .product__price {
  font-size: 2.4rem;
}

.product .price__unit {
  font-size: 1.2rem;
  margin-top: 0.3rem;
}

.product .product__selector {
  margin: 2.2rem 0 3.2rem;
}

.product .product__size-label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.4rem;
}

.product .product__selector legend {
  font-weight: 500;
  margin-bottom: 1.4rem;
}

.product .product__size-label legend {
  margin-bottom: 0;
}

.product .product__size-guide-button {
  text-decoration: underline;
}

.product .product__size-guide-button svg {
  margin-left: 0.4rem;
  vertical-align: middle;
}

.product-selector__buttons,
.product__variants-radio,
.product-selector__dropdown,
.product__price,
.product-selector__quantity {
  margin: 0 0 2.5rem;
}

.product-selector__dropdown {
  max-width: 47rem;
}

.product-selector__quantity {
  margin: 2rem 0;
}

.product-selector__buttons {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  border: none;
  border-radius: 0;
}

.product-selector__buttons legend {
  padding: 0;
}

.product-selector__buttons label {
  margin: 0 1.4rem 1.4rem 0;
}

.product-selector__submit {
  width:auto;
}

.product .product__description {
  max-width: 68.5rem;
  margin: 1rem 0;
}

.product .product__description p i {
  display: inline-block;
  margin: 2.2rem 0 1.3rem;
  opacity: 0.6;
}

.product .product__description ul,
.product .product__description ol {
  list-style: none;
  padding-left: 1.6rem;
}

.product .product__description li {
  display: flex;
  align-items: center;
}

.product .product__description li + li {
  margin-top: 1.2rem;
}

.product .product__description li::before {
  content: '';
  display: inline-block;
  width: 0.4rem;
  height: 0.4rem;
  border-radius: 50%;
  background-color: currentColor;
  margin-right: 1.3rem;
}

.product .product__description p + accordion-item {
  margin-top: 5rem;
}

.product .product__actions {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 1rem;
  margin: 1.6rem 0;
}

.product .product__actions button {
  transition: none;
  height: var(--payment-buttons-height);
}

@media (max-width: 480px) {
  .product .product__actions button,
  .product .shopify-payment-button {
    min-width: 100%;
    max-width: 100%;
  }
}

.product .product__actions button[aria-hidden] {
  display: none;
}

.product .product__price .price,
.product .product__size-label,
.product .product-selector__label,
.product .product-selector__dropdown label,
.product .product-selector__quantity label,
.product accordion-item summary {
  font-family: var(--font-labels);
  text-transform: var(--uppercase);
}

.product__actions-featured {
  margin: 1rem 0;
}

@media (max-width: 1023px) {
  .product__actions-featured {
    margin-bottom: 0;
  }
}

.product__actions-featured a {
  color: currentColor;
}

.product__actions-featured a:hover {
  text-decoration: none;
}

.product__gallery-opener {
  position: relative;
}

.product__gallery-opener .product__gallery-opener__icon {
  background-color: var(--color-base-background);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.4rem;
  height: 2.4rem;
  padding: 0.5rem;
  position: absolute;
  top: 2rem;
  right: 2rem;
  z-index: 2;
  display: none;
}

.product__gallery-toggle {
  background: none;
  width: 100%;
  height: 100%;
  padding: 0;
  border: none;
  border-radius: 0;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  cursor: pointer;
}

@media screen and (max-width: 1023px) {
  .product-selector__submit {
    width: 100%;
  }
}

.product .product__media .media img {
  transform: none;
}

.product .product__gallery-opener__icon {
  color: var(--color-base-background);
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 5.6rem;
  height: 5.6rem;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  opacity: 1;
  transform: translate(-50%, -50%);
  z-index: 2;
  opacity: 0;
}

.product .media:hover .product__gallery-opener__icon {
  opacity: 1;
}

purchase-options {
  display: block;
  margin: 3rem 0;
}

.product__plans-body {
  border: 1px solid var(--color-form-input-border-light);
  padding: 0 1rem;
}

.product__plans-title {
  margin: 0 0 1rem;
}

.product__plan-group label {
  position: relative;
  padding-left: 2.4rem;
  cursor: pointer;
}

.product__plan-radio-icon {
  border-radius: 50%;
  background-color: var(--color-form-input-border-light);
  display: block;
  width: 1.6rem;
  height: 1.6rem;
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
}

.product__plan-radio-icon svg {
  display: block;
  width: 100%;
  height: 100%;
  transform: scale(0);
}

.product__plan-group input:checked ~ label svg {
  transform: scale(1);
}

.product__plan-group + .product__plan-group {
  padding: 1rem 0 0 0;
}

.product__plan-group:not(:last-child) {
  border-bottom: .1rem solid var(--color-form-input-border-light);
}

.product__plans-group-options {
  padding-left: 2rem;
}

.product__plans-group-options h6 {
  font-size: 1.6rem;
  text-transform: uppercase;
  margin: 1rem 0 0 0;
}

.product__plan-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.product__plan {
  padding: 1rem 0;
}

.product__plan:not(:last-child) {
  border-bottom: .1rem solid var(--color-form-input-border-light);
}

.product__plan-price del,
.product__plan-price ins {
  display: block;
}

.product__plan-price ins {
  font-size: 1.4rem;
  text-decoration: none;
}

.product__plan-price del {
  font-size: 1.2rem;
}

.product__stock-notification {
  margin: 1rem 0;
}

.product__stock-notification-text {
  margin: 0;
  display: flex;
  align-items: center;
}

.product__stock-notification-text .product__stock-notification-icon {
  display: inline-flex;
  margin-right: 0.8rem;
}

.product-variants-grid {
  margin-top: 2rem;
}

.variants-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem;
}

.variant-item {
  border: 1px solid #eaeaea;
  padding: 1rem;
  text-align: center;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.variant-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.variant-image img {
  max-width: 100%;
  height: auto;
  margin-bottom: 1rem;
}

.variant-title {
  font-size: 1.1rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.variant-price {
  font-size: 1rem;
  color: #333;
}

.variant-item.selected {
  border: 2px solid #000; /* Highlight border */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}